<!DOCTYPE html>
<html>
<head>
  <title>Results</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
<ul id="navUL">
  <li id="navLI"><a href="/">Home</a></li>
  <li id="navLI"><a href="/books/search">Search</a></li>
  <li id="navLI"><a href="/books/list">My List</a></li>
  <li id="navLI"><a href="/books/borrow">Borrow</a></li>
  <li id="navLI"><a href="/books/return">Return</a></li>
</ul>
<h2>Search Results for "<%= query %>"</h2>

<% if (books.length === 0) { %>
  <p>No books found</p>
<% } else { %>
  <% books.forEach(book => { %>
    <div class="book">
      <h3><%= book.title %></h3>
      <p>Authors: <%= (book.authors && book.authors.length > 0) ? book.authors.join(', ') : 'Unknown' %></p>
      <% if (book.thumbnail) { %>
        <img src="<%= book.thumbnail %>" alt="Book cover">
      <% } %>
      <p>Available: <%= book.availableCopies %> / <%= book.totalCopies %></p>

      <% if (book.availableCopies > 0) { %>
        
        <form method="POST" action="/books/borrow/<%= book._id %>">
          <label for="name">Your Name:</label>
          <input type="text" name="name" required>
          <label for = "email" >Email </label>
          <input type="email" name="email" required >
          <label for="borrowDate">Borrow Date:</label>
          <input type="date" name="date" required>
          <label for = "duedate">Due Date:</label>
            <input type="date" name="dueDate" required>
          <button>Borrow</button>
        </form>
      <% } else { %>
        <p>No copies available</p>
      <% } %>
    </div>
    <hr>
  <% }) %>
<% } %>

<a href="/books/borrow">Back to Search</a>
<!-- <a href="/"> Home</a> -->
</body>
</html>